mixin pagination(currentPage,totalPages)
    nav 
        ul.pagination 
            if currentPage>1 
                li.page-item
                    button(class="page-link" button-pages=currentPage-1) Previous
            -for(let i=1;i<=totalPages;i++)
                li.page-item
                   button(class=`page-link ${currentPage == i ? "active" : ""}` button-pages=i ) #{i} 
            if currentPage<totalPages 
                li.page-item
                    button(class="page-link" button-pages=currentPage+1) Next
